<%- include('../partials/header') %>
<main id="idxwatch">
<% console.log(user); %>
  <div id="wtchsameline">
  <% if (user) { %>
  <form id="watchaddartdform" action="/artists/new">
  <input id="addartbutton" type="submit" value="Add New Artist to Watch" />
</form>
<% } %>
<h1 id="watchtitle">Artist Watch List</h1>
</div>
<% if (artists.length) { %>
<table id="watchtable" class="table">
    <thead>
      <tr id="watchTH">
        <th>Name</th>
        <th>Detail Page</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% function compareName(artA, artB) { %>
       <% if (artA.name < artB.name) { %>
         <% return -1; } %>
         <% if (artA.name > artB.name) { %>
         <% return 1;} %>
         <% return 0;}; %>
     <% artists.sort(compareName) %>
      <% artists.forEach(function(a) { %>
      <%if (a.signed === false) { %>
        <tr>
          <td><%= a.name %></td>
          <td id="watchartdtl"><form action="/artists/<%= a._id %>">
            <button type="submit" id="artdtlbutton"><%= a.name %> Details</button>
          </form></td>
          <td><% if (user?._id.equals(a.user[0]?._id) || user.admin === true) { %><form action="/artists/<%= a.id %>?_method=DELETE"
            class="delete-button" method="POST">
            <button type="submit">Delete Watch Artist</button></form><% } %></td>
        </tr>
        </tr>
      <% }}); %>
    </tbody>
  </table> 
  <% } else { %>
    <h2 class="none">Watching no one yet! &#128557; </h2>
<% }; %>

</main>
<%- include('../partials/footer') %>