<%- include('../partials/header') %>
<main id="idxwatch">
<form id="watchaddartdfrom" action="/artists/new">
  <input id="addartbutton" type="submit" value="Add New Artist to Watch" />
</form>
<h1 id="watchtitle">Artist Watch List</h1>
<% if (artists.length) { %>
<table class="table">
    <thead>
      <tr id="watchTH">
        <th>Name</th>
        <th>Detail Page</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% artists.forEach(function(a) { %>
      <%if (a.signed === false) { %>
        <tr>
          <td><%= a.name %></td>
          <td><form action="/artists/<%= a._id %>">
            <button type="submit" id="artdtlbutton"><%= a.name %> Details</button>
          </form></td>
          <td> <form action="/artists/<%= a.id %>?_method=DELETE"
            class="delete-button" method="POST">
            <button type="submit">Delete Watch Artist</button></form></td>
        </tr>
        </tr>
      <% }}); %>
    </tbody>
  </table> 
  <% } else { %>
    <h2 class="none" >Watching no one yet! &#128557; </h2>
<% }; %>

</main>
<%- include('../partials/footer') %>