<%- include('../partials/header') %>
<main id="dealdetail">

<h1 id="dealdetailtitle"><%= deal.name %> Details</h1>

<div id="artistsondeal"><p>Artists on Deal/Partnership:</p><%- deal.artists.map(a =>
    `<p><a href="/artists/${a._id}">${a.name}</a></p>`
    ).join('') %></div>
<div id="dealinfo"><p>Deal/Partnership Info:<br><%= deal.info %></p></div>

</main>
<%- include('../partials/footer') %>