<%- include('../partials/header') %>
<main id="idxdeals">

<h1 id="dealtitle">Deals & Partnerships</h1>

<form action="/deals/new">
  <input id="adddlpgbutton" type="submit" value="Add a New Deal or Partnership" />
</form>

<% if (deals.length) { %>
<table class="table">
    <thead>
      <tr>
        <th>Deal</th>
        <th>Artist(s)</th>
        <th>Detail Page</th>
      </tr>
    </thead>
    <tbody>
      <% deals.forEach(function(d) { %>
        <tr>
          <td><%= d.name %></td>
          <td><%- d.artists.map(a =>
            `<p>${a.name}</p>`
            ).join('') %></td>
          <td><form action="/deals/<%= d._id %>"><button type="submit" id="dldtlbutton"><% d.name %> Details</button></form></td>
        </tr>
     <% }); %>
    </tbody>
  </table> 
<% } else { %>
    <h2 class="none">No Deals yet! &#128557; </h2>
<% } %>

</main>
<%- include('../partials/footer') %>