<%- include('../partials/header') %>
<main id="idxdeals">

<div id="dealtitle">Deals & Partnerships</div>
<% if (user) { %>
<form id="adddlpform" action="/deals/new">
  <button id="adddlpgbutton" type="submit">Add a New Deal or Partnership</button>
</form>
<% } %>

<% if (deals.length) { %>
<table class="table" id="dealsidxtable" >
    <thead>
      <tr>
        <th>Deal</th>
        <th>Artist(s)</th>
        <th>Detail Page</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% function compareNameDl(dla, dlb) { %>
        <% if (dla.name < dlb.name) { %>
          <% return -1; } %>
          <% if (dla.name > dlb.name) { %>
          <% return 1;} %>
          <% return 0;}; %>
      <% deals.sort(compareNameDl) %>
      <% deals.forEach(function(d) { %>
        <tr>
          <td><%= d.name %></td>
          <td><%- d.artists.map(a =>
            `${a.name}`
            ).join(', ') %></td>
          <td><form action="/deals/<%= d._id %>"><button type="submit" id="dldtlbutton"><% d.name %> Details</button></form></td>
          <td><% if (user?._id.equals(d.user[0]?._id) || user?.admin === true) { %><form action="/deals/<%= d._id %>?_method=DELETE"
            class="delete-button" method="POST">
            <button type="submit">Delete Deal</button></form><% } %></td>
        </tr>
     <% }); %>
    </tbody>
  </table> 
<% } else { %>
  <h2 class="none">No Deals yet! &#128557; </h2>
<% } %>

</main>
<%- include('../partials/footer') %>