<%- include('../partials/header') %>
<main id="artistdetail">

<h1 id="artistdetailtitle"><%= artist.name %> Details</h1>
<form id="toeditartform" action="/artists/<%= artist._id %>/edit">
  <button id="toeditartbut" type="submit">Edit Artist Info</button></form>
<div id="allDetails">
  <% if (artist.signed === true) { %>
  <div id="signeddate"><p>Signed on: <%= artist.signed_on.toDateString() %></p></div>
  <div id="dealsforartist"><p>Deals/Partnerships for Artist:</p><%- artist.deals.map(d =>
    `<a href="/deals/${d._id}">${d.name}</a>`
    ).join(', ') %></div>
    <% } %>
    <% if (artist.signed === false) { %>
    <form id="watchtosignedform" action="/artists/<%= artist._id %>/signed?_method=PUT" method="POST" autocomplete="off">
      <label>Signed?!:</label>
      <input type="checkbox" name="signed" value="false">
      <label>Signed On Date:</label>
      <input type="date" name="signed_on" required>
      <button type="submit">Yes!</button>
    </form>
    <% } %>
    <div><span id="details">Misc Details:</span></div><p id="misc_details_box"><%= artist.details %></p>
</div>

<form id="addsongs" method="POST"
  action="/artists/<%= artist._id %>/songs">
<label>Song Name:</label>
<input type="text" name="title" required>
<label>Album Name:</label>
<input type="text" name="album_name">
<label>Date Released:</label>
<input type="date" name='released' required>
<button id="addsongbutton" type="submit">Add Song</button>
</form>

<h2 id="discography" >Discography</h2>
<% if (artist.songs.length) { %>
  <table class='table' id="songstable">
    <thead>
      <tr>
        <th>Song Name</th>
        <th>Album Name</th>
        <th>Date Released</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% artist.songs.forEach(function(s) { %> 
        <tr>
          <td><%= s.title %></td>
          <td><%= s.album_name %></td>
          <td><%= s.released.toDateString() %></td>
          <td><form action="/songs/<%= s._id %>?_method=DELETE" class="delete-button" method="POST">
            <button type="submit">Delete Song</button>
            </form></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
    <h2 class="none" >No Songs yet! &#128557; </h2>
<% } %>


</main>
<%- include('../partials/footer') %>