<%- include('../partials/header') %>
<main id="editartistdetail">
<% if (artist.signed === true) { %>
  <form action="/artists" class="go-back">
    <button id="rosterbackhome">Back to Roster</button>
  </form>
  <% } %>
  <% if (artist.signed === false) { %>
    <form action="/watch" class="go-back">
      <button id="wtchbackhome">Back to Watch</button>
    </form>
<% } %>

<form id ="editform" action="/artists/<%= artist._id %>?_method=PUT" method="POST" autocomplete="off">
<label>Artist Name:</label>
<input type="text" name="name" value="<%= artist.name %>">
<label>Picture Link:</label>
<input type="text" name="picture">
<% if (artist.signed === true) { %>
<label>Signed On:<br><span id="currentDatelabel">(Current is: <%= artist.signed_on.toDateString() %>)</span></label>
<input type="date" name="signed_on">
<% } %>
<label>Details:</label>
<textarea id="editDetailsBox" name="details"><%= artist.details %></textarea>
<% if (user.admin === true) { %>
  <label>Change Manager?</label>
  <select name='userId'>
  <% users.forEach(function(u) { %>
  <% if (!u.artists.includes(artist._id)) { %>
  <option value="<%= u._id %>"><%= u.name %></option>
  <% }}) %>
  </select>
  <% }; %>
<br><button id="submitEditbutton" type="submit">Update Artist</button>
</form>

</main>
<%- include('../partials/footer') %>