<%- include('../partials/header') %>
<main id="editartistdetail">

<form id ="editform" action="/artists/<%= artist._id %>?_method=PUT" method="POST" autocomplete="off">
<label>Artist Name:</label>
<input type="text" name="name" value="<%= artist.name %>">
<% if (artist.signed === true) { %>
<label>Signed On:<br><span id="currentDatelabel">(Current is: <%= artist.signed_on.toDateString() %>)</span></label>
<input type="date" name="signed_on" required>
<% } %>
<label>Details:</label>
<textarea id="editDetailsBox" name="details"><%= artist.details %></textarea><br>
<button id="submitEditbutton" type="submit">Update Artist</button>
</form>

</main>
<%- include('../partials/footer') %>